<div class="wrapper">
  <%= render "layouts/main_header" %>
  <%= render "layouts/main_sidebar" %>

  <div class="content-wrapper">
    <section class="content">
      <div class="error-page">
        <h3>
          <i class="fa fa-warning text-red"></i>
          <%= alert %>
        </h3>
      </div>
    </section>
  </div>

  <%= render "layouts/main_footer" %>
</div>
