<div class="box-body form-group">
  <div class="form-group-content">
    <label><%= t(".title") %></label>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group-content">
    <label><%= t(".body") %></label>
    <%= f.text_area :body, size: "50x10", maxlength: 1000 %>
  </div>
</div>