<div class="form-content">
  <%= f.text_field :content,
    class: "content-field",
    placeholder: t(".content") %>
</div>
<div class="form-leave-type-btn">
  <%= f.submit t(".create_leave_type"), class: "create-leave-type-btn" %>
  <%= button_to t(:back), "",
    class:   "back-btn",
    onclick: "return leave_types_page();" %>
</div>
