/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 *= require jquery.timepicker.css
 *= require jquery.ui.datepicker
 */

* {
  box-sizing: border-box;
}

html, body, form, h1, h2, h3, h4, h5, h6 {
  margin:  0;
  padding: 0;
  border:  0;
}

body {
  font-family:      "Noto Sans Japanese", 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  background-color: #ECF0F5;
}

html,
body,
.side-menu,
.side-content,
.main-content,
.content {
  height: 100%;
}

table.table {
  border-collapse: collapse;
  border-spacing:  0;
  width:           100%;
  table-layout:    fixed;
}

table.table tr th {
  white-space: nowrap;
}

table.table tr > th,
table.table tr > td {
  border:  1px solid #f4f4f4;
  padding: 8px;
}

textarea {
  width:   100%;
  padding: 6px 12px;
}

select[multiple] {
  height: auto;
}

.header-menu {
  position: absolute;
  height:   44px;
  width:    100%;
  z-index:  799;
}

.side-menu.active {
  width: 250px;
}

.side-menu.disable {
  width: 30px;
}

.side-menu {
  position:         absolute;
  color:            white;
  font-weight:      bold;
  display:          table;
  background-color: #3C8DBC;
  z-index:          800;
}

.side-menu .side-content label {
  white-space: nowrap;
}

.side-menu .side-content .title.active {
  display: inline-block;
}

.side-menu .side-content .title.disable {
  display: none;
}

.header-content.active {
  margin-left: 250px;
}

.header-content.disable {
  margin-left: 30px;
}

.header-content {
  height: 100%;
}

.main-content {
  display: table;
  width:   100%;
}

.header-content,
.main-content,
.content {
  background-color: #3C8DBC;
}

.content.active {
  margin-left: 250px;
}

.content.disable {
  margin-left: 30px;
}

.wrapper {
  padding:          55px 15px 10px 15px;
  background-color: #ECF0F5;
  display:          table;
  width:            100%;
  height:           100%;
}

.content-heder {
  padding:       10px 15px 0 15px;
  margin-bottom: 10px;
}

.field_with_errors {
  background-color: red;
  padding:          2px;
}

.flash p.notice {
  background-color: #00c0ef;
  border-color:     #0097BC;
}

.flash p.error {
  background-color: #dd4b39;
  border-color:     #c23321;
}

.flash {
  margin: 10px 0;
}

.flash p {
  border-left:   5px solid #eee;
  padding:       10px;
  color:         white;
  font-size:     16px;
  border-radius: 3px;
  font-weight:   400;
}

.error-message {
  font-size:     20px;
  margin:        15px auto;
  width:         100%;
  background:    #DCDCDC;
  border:        3px solid red;
  border-radius: 5px;
}

.some-error {
  font-weight:      bold;
  padding:          10px;
  color:            white;
  background-color: red;
}

.error-message ul {
  color:  red;
  margin: 5px;
}

.top-menu, .admin-menu, .normal-menu {
  width:      100%;
  list-style: none;
  padding:    0;
  margin:     0;
}

.header-menu-list {
  list-style:  none;
  padding:     0;
  margin:      0;
  font-weight: bold;
}

.header-menu-list .top-link {
  text-align: left;
  width:      250px;
}

.header-menu-list .sidebar-toggle {
  text-align: center;
  width:      50px;
}

.header-menu-list .logout-link {
  text-align: center;
  width:      120px;
}

.header-menu-list > li {
  float: left;
}

.side-menu ul li.active_hover {
  position:         absolute;
  width:            250px;
  background-color: #3C8DBC;
}


.header-menu-list > li > a:hover,
.top-menu > li > a:hover,
.admin-menu > li > a:hover,
.normal-menu > li > a:hover,
.admin-menu-list,
.normal-menu-list {
  background-color: #367FA9;
}

.top-menu > li > a,
.admin-menu > li > a,
.normal-menu > li > a,
.header-menu-list > li > a {
  display:         block;
  color:           white;
  width:           100%;
  padding:         10px 5PX;
  text-decoration: none;
}

.top-menu > li *,
.admin-menu > li *,
.normal-menu > li *,
.header-menu-list > li * {
  cursor: pointer;
}

.top-menu-list,
.admin-menu-list,
.normal-menu-list {
  padding:     10px 5px;
  font-size:   20px;
  font-weight: bold;
  width:       100%;
  display:     block;
}

.btn {
  display:         inline-block;
  padding:         6px 12px;
  font-size:       14px;
  font-weight:     400;
  line-height:     1.42857143;
  background:      #78B3FB;
  border:          0;
  white-space:     nowrap;
  border-radius:   3px;
  color:           white;
  cursor:          pointer;
  text-decoration: none;
}

.btn-lg {
  padding:     10px 16px;
  font-size:   18px;
  line-height: 1.3333333;
}

.btn:hover, .back-btn:hover {
  background: #529DF9;
}

.box {
  background-color: white;
  border-top:       3px solid #3c8dbc;
  border-radius:    5px;
  margin-bottom:    10px;
}

.box-max-width {
  width:      100%;
  padding:    0 5px;
}

.box .box-header {
  padding:       10px;
  border-bottom: 1px solid #f4f4f4;
}

.box .box-header .box-title {
  display:       inline-block;
  font-size:     18px;
  margin:        0;
  line-height:   1;
  width:         70%;
  overflow:      hidden;
  text-overflow: ellipsis;
}

.box .box-header .date-right {
  float: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.box .box-header .date label {
  font-weight: bold;
}

.box .box-body {
  padding: 10px;
}

.box .box-body pre {
  font-size: 15px;
}

.box-footer {
  width:      100%;
  display:    table;
  border-top: 1px solid #f4f4f4;
  padding:    10px;
}

.form-group {
  overflow-x: auto;
}

.form-group .form-group-content {
  margin-bottom: 15px;
  padding:       10px;
  display:       table;
  width:         100%;
}

.form-group .form-group-content label {
  margin-bottom: 5px;
  display:       inline-block;
  font-weight:   700;
}

.form-group .form-group-content input {
  width:      100%;
  height:     34px;
  padding:    6px 12px;
  font-size:  14px;
}

.enable-list {
  margin:     0;
  display:    flex;
  list-style: none;
}

.enable-list label input {
  display: none;
}

.enable-list li:first-child label {
  border-radius: 10px 0 0 10px;
}

.enable-list li:last-child label {
  border-radius: 0 10px 10px 0;
}

.enable-list label {
  padding:          5px 15px;
  border:           1px solid #bbb;
  font-size:        15px;
  background-color: #ddd;
  color:            white;
}

.enable-list label:hover {
  background-color: #c1c1c1;
}

.enable-list label.selected {
  background:   linear-gradient(#00acd6, #367fa9);
  border-color: #306e92;
}

.enable-list label.selected:hover {
  background-color: #306e92;
}

.form-control {
  border-radius:    0;
  box-shadow:       none;
  border-color:     #d2d6de;
  display:          block;
  width:            100%;
  height:           34px;
  padding:          6px 12px;
  font-size:        14px;
  line-height:      1.42857143;
  color:            #555;
  background-image: none;
  border:           1px solid #ccc;
}

.table-responsive {
  overflow-x: auto;
}

table.table tr > th,
table.table tr > td {
  white-space:   nowrap;
  border:        0;
  padding:       8px;
  line-height:   1.42857143;
  text-overflow: ellipsis;
}

table.table tr > th {
  border-bottom: 2px solid #f4f4f4;
}

table.table tr > td {
  border-top: 1px solid #f4f4f4;
}

.table tr > td.abbreviation {
  white-space:   nowrap;
  text-overflow: ellipsis;
  overflow:      hidden;
}

.no-margin {
  margin: 0;
}

.operation-btns-td {
  text-align: center;
}
