// Place all the styles related to the user_configs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-user-config form {
  box-sizing:    border-box;
  margin:        0 auto 15px;
  padding:       22px 22px 22px 22px;
  width:         60%;
  border-radius: 0px 5px 5px 5px;
  background:    #282e33;
  border-top:    3px solid #434a52;
  border-bottom: 3px solid #434a52;
  text-align:    center;
}

.user-config-table {
  margin-bottom: 10px;
}

.form-user-config-btn {
  height: 30px;
}

.save-btn {
  float: left;
}

.back-btn {
  float: right;
}

.save-btn, .back-btn {
  background:    #b5cd60;
  border:        0;
  width:         49%;
  height:        40px;
  border-radius: 3px;
  color:         white;
  cursor:        pointer;
}

.save-btn:hover, .back-btn:hover {
  background: #16aa56;
}
