<%= error_message_for model_name %>
<div class="flash">
  <% unless flash[:notice].blank? %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% unless flash[:error].blank? %>
    <p class="error"><%= flash[:error] %></p>
  <% end %>
</div>
